body{

font-family:Arial;
margin:40px;
background:#f5f5f5;

}

.menuGrid{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:15px;

}

.menuCard{

background:white;
padding:15px;
border-radius:12px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
text-align:center;

}

.qtyBox{

display:flex;
justify-content:center;
gap:10px;
margin:10px 0;

}

.qtyBox button{

width:30px;
height:30px;
border:none;
background:#ff7a00;
color:white;
border-radius:6px;
font-size:18px;

}

.addBtn{

background:#00b894;
border:none;
color:white;
padding:8px 12px;
border-radius:8px;
cursor:pointer;

}

.cartItem{

background:white;
padding:10px;
margin:5px 0;
border-radius:8px;

}

.sendBtn{

margin-top:10px;
padding:10px 15px;
background:#ff7a00;
color:white;
border:none;
border-radius:8px;

}

.orderCard{

background:white;
padding:15px;
margin:10px 0;
border-radius:10px;
box-shadow:0 0 5px rgba(0,0,0,0.1);

}